@import url("https://fonts.googleapis.com/css?family=Andika|Ubuntu");

html {
  font-family: 'Ubuntu', sans-serif;	
  height: 100%;
  /*
  padding-top: 85px;
  */
}
#app {
	min-height: 100%;
    height: auto !important;
    padding-bottom: 30px;
    margin: 0 auto 0; /* the bottom margin is the negative value of the footer's height */
}
#app:after {
  content: "";
 /* display: block;*/
}
.navbar-default {
	background: linear-gradient(to right, rgba(51,68,92,1) 0%, rgba(63,138,93,1) 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
	border-bottom: 0px;
	border-radius: 0;
}
.navbar-default .navbar-text {
    color: #fff;
}
.navbar-default .navbar-toggle {
	color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}



/*********CSS za linkovite od glavnoto meni*****/
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active
{
	color: #ffffff;
	background-color:transparent;
	font-size: 16px;
	font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover
{
	color: #9FCFFF;
	background-color:transparent;
	font-size: 16px;
	font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:active
{
	color:#ffffff;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;
}
.navbar-default .navbar-nav>.active>a:hover
{
	color: #9FCFFF;
	background-color: transparent;
	font-size: 16px;
	font-weight: bold;

}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:active {
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.navbar-default .navbar-nav>.open>a:hover{
    background-color: transparent;
    color: #9FCFFF;
    font-size: 16px;
    font-weight: bold;
}

	
/*******************OSTANATI***************/
#app:after {
	height: 155px; /* .push must be the same height as .footer */
}
#footer {
	background: #D8E8C8;
	text-align: center;
}

#logo-img {
	padding-left: 12px;
}
#naracki-img {
	float: right;
}
.footer-img {
	width: 100px;
	height:100px;
	float: left;
}
#cert-management-img {
	padding: 5px 0 5px 0;
	width: 67px;
}
#sys-cert-img {
	width: 150px;	
}
.footer-vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: 320px;
}
.footer-txt {
	height: 80px;
	font-size: 13px;
	display: inline;
	vertical-align: middle;
	margin: 0 auto 0 0;
    order: 1;
    width: 300px;
}
#footer-copy {
	margin-top: 20px;
	padding: 5px 0 5px 0;
	color: #fff;
	text-align: center;
	background-color: #6f6f6f;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #D8E8C8;
}
.table-striped > thead {
	color: white;
	background-color: #2c3e50;
}
.table > th { white-space: nowrap; }
/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {*/
	/*background-color: #fcca46;*/
/*}*/
.divider-small {
	margin-bottom: 15px;
}
.divider-medium {
	margin-bottom: 30px;
}
.pageTitle {
    font-size: 30px;
    color: #37b050;
    font-family: 'Andika', sans-serif;
    /*text-shadow: 0 -1px 0 rgba(0,0,0,0.4);*/
}

.navbar-brand { padding: 2px 10px 0px 0px; }

#topcontrol { z-index:999;}


code,
kbd,
pre,
samp {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
}

body,
button,
input,
select,
textarea {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	clear: both;
	color: #2c313f;
	font-family: 'Andika', sans-serif;
	font-weight: bold;
	margin: 0 0 1.5rem;
}

code,
kbd,
tt,
var {
	background: #f3f3f3;
	font-family: 'Ubuntu', sans-serif;
	padding: 0 0.25em;
}


pre {
	border: 1px solid #f3f3f3;
	font-family: 'Ubuntu', sans-serif;
	max-width: 100%;
	overflow: auto;
	padding: 1.5em;
	position: relative;
}

.dropdown-menu {
	background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(51, 68, 92) 0%, rgb(63, 138, 93) 100%) repeat scroll 0 0;
}

.dropdown-menu > li > a {
    background-color: transparent; 
    color: #ffffff;
    font-weight: bold;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;    
}

.dropdown-menu > .active > a {
	color: #ffffff;
}

.dropdown-menu > .active > a:hover {
	color: #9fcfff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: transparent;
	color: #9fcfff; 
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu >li > a:focus {
	color: #9fcfff; 
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: transparent;
} 

.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
	color: #9fcfff;
}

.navbar-nav .open .dropdown-menu {
	padding: 0.75em;
	width: 20em;
}

.navbar-default .navbar-toggle {
    border-color: #69B454;
}    

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color: #69B454;
} 

.navbar-toggle {
	background-color: #69B454;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #69B454; 
}

.navbar-default .navbar-toggle:hover {
	background-color: #9fcfff;
}

.navbar-default .navbar-toggle:hover {
	border-color: #9fcfff;
}

@keyframes glowing {
0% {
    border-color: #91b1f3;
    border-style: solid;
    box-shadow: 0 0 3px #004a7f;
}
50% {
    border-color: #3fa060;
    border-style: solid;
    box-shadow: 0 0 10px #0094ff;
}
100% {
    border-color: #91b1f3;
    border-style: solid;
    box-shadow: 0 0 3px #004a7f;
}
}
#banner_akcii {
    animation: 1500ms ease 0s normal none infinite running glowing;
    border: 10px solid;
    border-radius: 5px;
}

.frame {
    padding: 15px;
    position: relative;
  	text-align: right;
}

.panel-default {
    border-color: #2C3E50;
}

.btn {
    font-size: 16px;
}

.text-warning-red {
	color: #CC0000;
}

.text-warning-blue {
	color: #2C3E50;
}

.text-warning-yellow {
	color: #FEB401;
}

.form-control {
	height: 46px;
}

.text-muted {
    color: #666666;
}

